:root {
    /*----- Палитра -----*/
    --header-background-color: rgb(38, 38, 233);
    --header2-background-color: rgb(205, 205, 212);
    /*----- Шрифты -----*/
    --header-font-family: "Comfortaa", sans-serif;
    --header-font-weight: 700;
    --header-text-transform: uppercase;
    --header-font-size: 18px;
    
}


body {
    margin: 0;
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
}

.header-background {
    background-color: var(--header-background-color);
    margin-bottom: -16px;
}

.home-navigation {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    
    background-color: var(--header-background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-social {
    list-style: none;
    display: flex;   
}

.menu-social-li:hover {
    opacity: 0.5;
}

.additional-navigation-background {
    background-color: var(--header2-background-color);
    width: 1200px;
    margin: 0 auto;
}

.additional-navigation {
    height: 35px;
    margin: 0;
    background-color: var(--header2-background-color);
}

.navigation-menu {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: end;
    padding-top: 10px;
    padding-left: 0;
}

.navigation-menu-items {
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

.navigation-menu-items:hover {
    color: red;
}

.widget {
    width: 1200px;
    margin: 0 auto;
}

.conteiner {
    width: 1200px;
    margin: 0 auto;
}

.conteiner-list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 35px;
    flex-wrap: wrap;
}

.conteiner-item {
    box-shadow: 0 4px 30px rgba(22, 49, 82, 0.12);
    transition: transform 0.3s ease;
}

.conteiner-item-link {
    text-decoration: none;
    color: black;
}

.conteiner-item:hover {
    transform: translateY(-10px);

}

.conteiner-item-text {
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
























footer {
    height: 200px;
    background-color: black;
}